<%- include('./partials/header.ejs') %>

<div class="container">
  <div class="row ">
    <div class="col-sm-6  mt-5">
      <h2 class="alert alert-success  text-center">Update Student</h2>
      <form method="post" action="/student/update/<%= data._id%>">
        <div class="mb-3">
          <label for="name"  class="form-label">Name</label>
          <input type="text"value="<%= data.name%>" name="name" id="name" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="text" value="<%= data.age%>" name="age" id="age" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="fees" class="form-label">Fees</label>
          <input type="text" value="<%= data.fees %>" name="fees" id="fees" class="form-control" />
        </div>
        <button type="submit" class="btn btn-warning">Update</button>
        <button type="submit" class="btn btn-secondary">Back to</button>
      </form>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
