<%- include('./partial/header.ejs') %>
<%- include('./partial/navigation.ejs') %>
<h1>Home page</h1>
<h3>This is home page</h3>
<% var your="aMMAR"+02%>
<%=your%>

<%= name%>
<% if(id==10){%>
    <h1>It is correct</h1>
 <% } else { %>
    <h1>It is not correct</h1>
    <% }%>

<% for(var i=1;i<=5;i++){%>
<%= i %>
<br />
 <%}%>   

<%- include('./partial/footer.ejs') %>